
/*================== Colors ================*/ 
:root {
    --main-color: #00DEA3;
    --secondary-color: #5c16de;
    --third-color: #6b6a69;
    --fourth-color: #f5c345;
    --main-color-darker: #03523dea;
    --text-color-lightBlack: color: rgba(0, 0, 0, 0.842);
    --white: #f0f0f0;
}
/*================== Fonts =================*/
@font-face {
    font-family: "vabulous";
    src: url(/fonts/Vabulous.ttf);
}

.font-baloo {
    font-family: "Baloo Bhaina 2", sans-serif;
    margin: 0;
}

.font-vabulous {
    font-family: "vabulous", sans-serif;
}
/*================== Reset ================*/
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}
.page-padding {
    padding-left: 2rem;
    padding-right: 2rem;
}
.badge {
    background-color: var(--secondary-color);
}
/*================== Helpers & Auxiliars ================*/
.bold {
    font-weight: 900;
}
.nav__helper {
    height: 80px;
}

.msgWelcome {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 300;
    color: var(--text-color-lightBlack);
    span {
        color: var(--main-color);
    }
}

/*================== Separator ===============*/
.section-separator {
  width: 100vw;
  height: 15vh;
  background-color: #00DEA3;
  
  &::before{
      content: "";
      position: absolute;
     
      width: 100vw;
      height: 10vh;
      background-color: var(--main-color-darker);
      transform: rotate(5deg) translateX(-200px);
      
  }
  &::after{
    content: "";
    position: absolute;
    width: 100vw;
    height: 10vh;
    background-color: var(--main-color-darker);
    transform: rotate(-5deg) translateX(200px);
    
  }
}
// section wave
.section-wave {
   transform: translateY(-1px);
    
    .section-wave__svg {
        transform: translateY(-1px);
        width: 100vw;
    }
}




