/*=======================Media Queries==================*/
/*======================= Small ==================*/
@media screen and (max-width:576px) {

    /*Header*/
    header {
        display: flex;
        flex-direction: column;

        .header__info {
            text-align: center;
            letter-spacing: 3px;
            align-self: center;

            .header__svg-size {
                width: 350px;
                height: 150px;
            }

            .header__infoh2 {
                display: none;

            }
        }

        .header__img {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 8rem;

            >img {
                width: 70px;
            }

        }

        .down-arrow {
            bottom: 3%
        }

    }

    /*Nav*/
    nav {

        .nav-title-container {
            width: 200px;

            .nav-title {
                font-size: 1.2em;
            }
        }

    }

    .collapsible {
        .list-container {
            .nav__list {
                width: 100%;

                .nav__child {
                    .nav-links {
                        width: 90px;
                        font-size: .9em;
                    }

                    .nav-cart {
                        width: 90px;

                        >.badge {
                            margin: .8em;
                        }
                    }
                }
            }

        }
    }

    /*Main*/
    .main-bg{
        background-size: 100% 80%;
        background-repeat: repeat-y;
    }
    .main-bg {
        .msgWelcome {
            >span {
                text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.164);
            }
        }

    }
    .main-h2 {
        font-size: 2.5em;
    }

    #filter {
        padding-bottom: 1rem;
    }

    .filter-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        >div {
            display: none;
        }

    }


    .cards {
        margin: 1rem 0;
    }

    /*informacion about*/

    #information-index {

        display: grid;
        grid-template-rows: 5vh auto 1fr 5vh;
        grid-template-columns: 1fr;
        text-align: center;

        // info
        #info {
            grid-row: 2/3;

            padding: 3rem;

            >p {
                font-size: 1.2em;
            }
        }

        // miembros
        .member-container {
            flex-direction: column;

            // clases comunes de miembros
            .member {
                flex-direction: column-reverse;

                >img {

                    object-fit: cover;
                    padding-bottom: 5vh;
                    width: 200px;
                    justify-self: center;
                    align-self: center;
                }

                .member-text {
                    font-size: 1em;
                }

            }

            // 
            #member-1 {
                grid-row: 2/3;
                border: none;
                border-bottom: 1px solid #0005;
                border-top: 1px solid #0005;
            }


            #member-2 {
                padding-top: 5vh;
                grid-row: 3/4;

            }

        }

    }

    .section-wave {
        display: none;
    }

    .icons {
        flex-direction: column;

        .icons__child {
            width: auto;

            >img {
                width: 50px;
            }

            h3 {
                font-size: 1.5em;

            }

            p {
                font-size: 1em;
            }

        }

    }

    /*footer*/
    footer {

        .social-container {
            width: 100%;
            justify-content: space-evenly;
            .social-icon-container{
                .social-icon {
                    width: 40px;
                }
            }
        }

        .ft-iframe {
            width: 300px;
            height: 200px;
            margin: 2rem 0;
        }

        .footer__info-container {
            align-items: center;
            width: 100%;

            >ul {
                width: 100%;
            }

            span {
                margin-right: 5px;
            }

            li {
                padding: 10px 0;

            }
        }

        #developer {
            width: 100%;

            .social-icon-container-dev {
                width: 50%;
            }
        }

    }

    /* ================= products ============= */
    .main-bg-products{
        background-size: 100% 80%;
        background-repeat: repeat-y;
    }
    .card-prod-container{
        .card-prod{
            margin: 4rem 0;
            width: 250px;
            .card-prod-head{

                .card-prod-img{
                    width: 150px;
                    left: 60%;
                    bottom: 30%;
                }
                .card-prod-title {
                    margin: 4rem 2rem 1rem 2rem;
                    font-size: 2em;
    
                }
            }
        }
    }
    .video {
        iframe {
            width: 250px;
            height: 200px;
        }
    }

    #iframe-h2 {
        font-size: 1.5em;
    }
    .slider-info{
        h2{
            margin: 4rem 0;
        }
    }
    .carousel {
        width: auto;

    }

    .carrusel {
        h2 {
            margin: 4rem 0;
            font-size: 1.5em;
        }

    }

    /* ================= contact ============= */
    .header__bg-contact {
        background-position: 45% -20vh;
    }
    .main-bg-contact{
        background-size: 100% 80%;
        background-repeat: repeat-y;
        
    }
    form {
        .legend {
            font-size: 1em;
        }

        .checkbox-container {
            flex-direction: column;
        }

        .reason-container {
            display: flex;
            justify-content: center;

            >select {
                width: 80%;
                font-size: .7em;
            }

            .contact-select {
                font-weight: 500;
                border-radius: 0.5rem;

                option {
                    background-color: var(--main-color-darker);
                    border-radius: 1rem;
                    font-size: .7em;
                }
            }


        }
        .explain-container {

            .contact-textarea {
                width: 90%;
                font-size: .8em;
            }

        }
    }


    /* ================= community ============= */
    .main-bg-community{
        background-size: 100% 80%;
        background-repeat: repeat-y;
    }

    .comm-grid {

        grid-row-gap: 50px;
        grid-template-columns: 100px 1fr 1fr 100px;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        margin-bottom: 3rem;
        //clases general
        >img {
            object-fit: cover;
            max-height: 500px;
            width: 100%;
            justify-self: center;
            align-self: center;
        }
        >div>h2 {
            padding-bottom: auto;
            font-size: 1.2em;
            font-weight: 500;
        }
        >div>p {
            font-size: .9em;
        }

        // fotos

        #pic-1 {
            grid-column: 1/3;
            grid-row: 1/2;
    
        }
        #pic-2 {
            grid-column: 3/5;
            grid-row: 2/3;
    
        }
        #pic-3 {
    
            grid-column: 1/3;
        }
        #pic-4 {
            grid-column: 3/5
        }

        // texto

        #text-1{
            >h2 {
                grid-column: 1/5;
            }
        }

    }
    .slider{
        .slider-list{
            li{
                img{
                    height: auto;
                }
            }
        }
    }

}