/*==============Community.html ==============*/
/*==============Grid ==============*/

.comm-grid {
    margin-top: 7rem;
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: 1fr 100px 100px 1fr;
    grid-template-rows: 500px 500px 250px 500px 100px;

    // modificaciones generales de la grilla
    >img {
        object-fit: cover;
        max-height: 500px;
        width: 100%;
    }

    >div>h2 {
        color: var(--main-color-darker);
        font-size: 2em;
        font-weight: 500;
        padding-bottom: 50px;
    }

    >div>p {
        font-size: 1.5em;
    }

    >div span {
        color: var(--main-color);
    }

    //=========ubicaciones
    // imagenes
    #pic-1 {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    #pic-2 {

        grid-column: 4/5;
        grid-row: 2/4;
    }

    #pic-3 {

        grid-column: 1/span;
        grid-row: 4/5;
        align-self: center;
    }

    #pic-4 {
        grid-column: 4/5;
        grid-row: 4/5;
        align-self: center;
    }

    // texto
    #txt-1 {
        grid-column: 3/5;
        grid-row: 1/2;
        text-align: left;
    }

    #txt-2 {
        grid-column: 1/3;
        grid-row: 2/3;
        text-align: right;
    }

    #txt-3 {
        text-align: center;
        grid-column: 1/5;
        grid-row: 3/4;
    }

}