/*================== Products.html =================*/
/*================== Tabla =================*/


.table-container {
    padding: 7rem 0;
    
    thead>tr {
        background-color: var(--secondary-color);
        color: var(--white);
        text-align: center;
       font-size: 1.2em;
    }

    tbody>tr>:nth-child(1) {

        text-align: center;
      
    }

    th,
    td {
        border: solid 1px black;
        border-radius: 5px;
        padding: 1em;
    }

    tr {
        background-color: transparent;

        >td:nth-child(3) {
            text-align: center;
        }
    }
    ol,ul{
        margin-top: 1rem;
        li{
            padding: .2rem;
        }
    }

}

/*================== Video =================*/
#iframe-h2 {
    background-color: #f5c345;
    font-weight: 500;
    font-size: 2em;
    text-align: center;
    border-radius: 2rem;

}

.video {

    padding-bottom: 10vh;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;

    >h2 {
        padding: 15px 1.5rem;
        margin-bottom: 5rem;
    }

    iframe {
        width: 600px;
        height: 350px;
    }
}

/*================== Carrusel =================*/
.carrusel {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;

    h2 {
        margin: 4rem;
        font-size: 2em;
        font-weight: 500;
        background-color: var(--main-color);
        border-radius: 2rem;
        padding: 15px 1rem;
        text-align: center;
    }

    >h3 {
        margin-bottom: 5rem;
    }
}
.carousel {
    width: 60vw;
    margin-bottom: 5rem;
}