/*================== Footer =================*/
footer {
    background-color: rgb(0, 0, 0);
    padding-top: 10vh;
    padding: 3rem 3rem 3rem 0;
    color: #e2e8f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*Titulos del footer*/
    .footer-title {
        font-size: 2em;
        font-weight: 500;
        color: #fff;
        text-align: center;
        margin: 5rem 0;
    }
    /*iconos de redes sociales*/
    .social-container {
        width: 50%;

        .social-icon-container {
            display: flex;
            justify-content: space-between;
            // svg icons
            .social-icon {
                width: 50px;
                margin: 2rem 0;
                &:hover {
                    cursor: pointer;
                    color: var(--main-color);
                    transform: scale(1.1);
                }
            }
        }
    }
    
    /*iframe de google mapss*/
    .ft-iframe {
        width: 650px;
        height: 400px;
        margin: 3.5rem;

    }
    /*informacion */
    .footer__info-container {
        display: flex;
        flex-direction: column;
        width: 80%;
        // ul 

        #footer-ul {
            list-style: none;
            padding: 0;
            margin: 0;

            // li
            .footer-info {
                color: var(--main-color);
                font-size: 1.2em;
                font-weight: 300;
                display: flex;
                justify-content: space-between;
                padding: 10px;
                border-bottom: 1px solid var(--third-color);
                >a {
                    text-decoration: none;
                    color: var(--main-color);
                    text-shadow: 0px 0px 15px var(--main-color);
                    & :hover {
                        color: #00dea3b0;
                    }
                }
                >span {
                    color: #fff;
                }
            }
        }
    }
    #developer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        margin-top: 3rem;
        >h4 {
            font-size: .9em;
            color: crimson;
            padding-top: 3px;
        }
        .social-icon-container-dev {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 25%;
            .social-icon-dev {
                width: 25px;
            }
        }
    }
}