/*================== Header =================*/
header {
    height: calc(100vh - 80px);
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: hidden;

    >* {
        padding-bottom: 1rem;
    }

    .header__info {
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;

        // titulo del header
        .header__svg-size {
            width: 500px;
            height: 127px;
            
        }

        // subtitlulo
        &>h2 {
            padding: 10px;
            margin: 0;
            opacity: 0;
            font-size: 2rem;
            font-weight: 600;
            color: #000c;
        }
    }


    // svgs del header
    .header__img {

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        transform: translateX(200px);
        

        > * {
            padding-top: 15px;
            opacity: 0;
        }
    }

    // svg flecha hacia abajo
    .down-arrow {
        position: absolute;
        
        left: calc(50% - 25px);
        bottom: 4%;
        width: 50px;
        opacity: .8;
        text-decoration: none;

        svg {
            border-radius: 3rem;

            &:hover {
                background-color: rgba(255, 255, 255, 0.76);
                border: solid 1px rgba(0, 0, 0, 0.945);

            }
        }

        a {
            color: #000;

        }
    }

}